@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .announcement-item {
        @apply flex flex-col w-full p-6 h-full border shadow bg-gray-900 border-gray-700
    }

    .assignment-item {
        @apply flex flex-col w-full p-3 h-full border shadow bg-gray-900 border-gray-700
    }

    .roster-item {
        @apply inline-flex w-full p-2 h-full border shadow bg-gray-900 border-gray-700 align-middle space-x-2
    }

    .misc-item {
        @apply flex flex-col space-y-2 w-full p-4 h-full border shadow bg-gray-900 border-gray-700
    }

    .text-hint {
        @apply text-slate-500 italic
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}


html {
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #646464;
    scrollbar-dark-shadow-color: #646464;
}